* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginPage {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.loginPage {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #444;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
    /* Added to position child elements absolutely */
}

.loginPage h2 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    /* Positioning the h2 absolutely */
    top: 0;
    /* Aligns the h2 to the top of the container */
    left: 50%;
    /* Moves the h2 to the center horizontally */
    transform: translateX(-50%);
    /* Adjusts the h2 to be exactly centered */
}

.loginPage form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 6rem;
    /* Added margin to prevent overlap with h2 */
}

.loginPage input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    width: 100%;
}

.loginPage input::placeholder {
    color: #bbb;
}

.webComponent-button-2 {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #6200ee;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.webComponent-button-2:hover {
    background-color: #3700b3;
}

.loginPage button+button {
    margin-top: 0.5rem;
}

.webComponent-2 {
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 45px;
    width: 100%;
    max-width: 430px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}