@font-face {
  font-family: mainFont;
  src: url(Fonts/bpg_glaho.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans+Georgian:wght@100..900&display=swap');

html {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background: #f3f3f394;
  color: black;
}

::selection {
  background: #f3f3f394;
  color: black;
}

body {
  background-image: url('./Images/Style/noise-dark.png');
  background-color: #181818;
  color: #fff;
  font-family: mainFont;
  text-align: center;
  justify-content: center;
  margin: 0px;
  padding: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.content-container {
  padding-top: 50px;
}

.article-container {
  flex-direction: column;
  line-height: 1.8;
  color: #ffffffd2;
  font-family: mainFont;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  text-rendering: optimizeSpeed;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.fullText {
  margin-left: 95px;
  margin-right: 95px;
  color: #c5b9af;
  text-align: justify;
  word-break: keep-all;
}



.latestNews {
  text-align: center;
  margin: 50px auto;
  border: 2px solid;
  border-color: #69615b;
  padding-bottom: 15px;
  width: 400px;
  max-width: 430px;
  border-radius: 15px;
  background-image: url('./Images/Style/noise-dark.png'), linear-gradient(to top, #383431, #69615b);
  box-shadow: 0px 0px 30px #69615b;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.latestNews-description {
  color: #c2c2c2;
}


.latestNews-image {
  border-radius: 15px;
  margin-top: 15px;
  float: center;
  margin-right: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.589);
  width: 200px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}



.webComponent {
  background-color: antiquewhite;
  text-align: center;
  margin: 50px auto;
  margin-bottom: 50px;
  padding-bottom: 45px;
  width: 400px;
  max-width: 430px;
  border-radius: 15px;
  background-image: url('./Images/Style/noise-dark.png');
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.webComponent-description {
  color: #c2c2c2;
}


.webComponent-image {
  border-radius: 15px;
  margin-top: 15px;
  float: center;
  margin-right: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.589);
  width: 200px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.loadingTxt {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-family: mainFont;
  margin-top: 200px;
}


.layoutDiv {
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  font-family: mainFont;
  padding: 23px 10px;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.548);
  background-image: url('./Images/Style/noise-dark.png');
  z-index: 9999;
}

.layoutDiv h2 {
  text-align: left;
  color: rgba(255, 255, 255, 0.836);
  margin-left: 15px;
  position: absolute;
  top: 15%;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 8px black;
  text-decoration: overline;
}

.mobileShowButton {
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
  top: 0px;
  -webkit-tap-highlight-color: transparent;
  text-shadow: 3px 3px 5px #00000022;
  box-shadow: 0px 0px 10px #5e534c;
  padding: 5px 50px 5px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-top: -50px;
  font-style: normal;
  background-image: url('./Images/Style/noise-dark.png');
  background-color: #5e534c;
  border: 2px solid;
  border-color: #4d463e;
  border-radius: 5px;
}

.layoutButton-mobile {
  color: white;
  padding: 10px 50px 10px;
  -webkit-tap-highlight-color: transparent;
  background-image: url('./Images/Style/noise-dark.png');
  border: 2px solid;
  border-color: #4d463e;
  border-radius: 5px;
  margin-top: 15px;
  text-decoration: dotted;
}

.mobile-nav {
  visibility: hidden;
  content-visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 380px;
  background-color: #ffffff00;
  border: 2px solid;
  border-color: #ffffff00;
  border-radius: 0px 0px 15px 0px;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all 0.3s;
  color: #ffffff00;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.show {
  content-visibility: visible;
  opacity: 100;
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #221d1b;
  background-image: url('./Images/Style/noise-dark.png');
  border: 2px solid;
  border-radius: 0px 0px 15px 0px;
  backdrop-filter: blur(5px);
  z-index: 99999999999;
  box-shadow: 0px 30px 100px #000000d5;
  top: 0;
  left: 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  align-content: center;
}

.show button {
  margin-top: 25.5px;
}


.headerButtons {
  display: center;
  flex-direction: row;
  float: center;
  text-align: center;
}


#headerText {
  text-align: center;
  padding-left: 0px;
  font-size: 20px;
  text-shadow: 0px 2px 5px black;
}

.layoutButton,
.shareButton {
  padding: 10px 20px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 16px;
  font-family: mainFont;
  text-shadow: 0px 2px 5px black;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.589);
  text-decoration: none;
  color: #fff;
  background-image: url('./Images/Style/noise-dark.png'), linear-gradient(to top, #3b3430, #5e534c);
  border: 2px solid;
  border-color: #4d463e;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s, background-image 0.3s;
}


.layoutButton:hover,
.shareButton:hover {
  border-color: #7a7167;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
  background-image: url('./Images/Style/noise-light.png'), linear-gradient(to bottom, #6e645d, #695a50);
}

.layoutButton:active,
.shareButton:active {
  background-image: url('./Images/Style/noise-light.png'), linear-gradient(to bottom, #7c736c, #695a50);
  transform: translateY(2px);
  color: #ffffffa6;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.btnMargin {
  display: grid;
  justify-content: space-evenly;
}


.webComponent-button {
  transform: translateY(15px);
  padding: 10px 23px;
  font-size: 16px;
  font-family: mainFont;
  text-shadow: 2px 2px 5px black;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.589);
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #2e2e2e;
  border: 2px solid;
  border-color: #494948;
  background-image: url('./Images/Style/noise-dark.png');
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s, background-image 0.3s;
}

.webComponent-button:hover {
  background-color: #424242;
  border-color: #929292;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
  background-image: url('./Images/Style/noise-light.png');
}

.webComponent-button:active {
  background-image: url('./Images/Style/noise-light.png');
  transform: translateY(2px);
  color: #ffffffa6;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.webComponent-title {
  margin-left: 5px;
  margin-right: 5px;
}

.headerButtons {
  display: flex;
  justify-content: center;
}

.headerButtons button {
  margin: 0 10px;
}

.pagination-container {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  padding: 20px 25px 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.575);
  background-color: #110d0c85;
  background-image: url('./Images/Style/noise-dark.png');
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}